.wp-block-image {
	&.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	// Floats get an extra wrapping aside element, so the figure becomes a child.
	.alignleft,
	.alignright {
		display: table;
		margin: 0;

		figcaption {
			display: table-caption;
			caption-side: bottom;
		}
	}

	.alignleft {
		float: left;
		margin-right: 1em;
	}

	.alignright {
		float: right;
		margin-left: 1em;
	}

	// Supply caption styles to images, even if the theme hasn't opted in.
	// Reason being: the new markup, figcaptions, are not likely to be styled in the majority of existing themes,
	// so we supply the styles so as to not appear broken or unstyled in those.
	figcaption {
		@include caption-style();
	}
}
