.editor-block-list__block[data-align="center"] {
	text-align: center;
}

.subtitle-track{
	background: #efefef;
	padding: 10px;
	margin-bottom: 20px;
}

.core-blocks-video__poster {
	margin-bottom: 1em;
}

.core-blocks-video__poster .components-button + .components-button {
	margin-top: 1em;
	margin-right: 8px;
}
