.wp-block-contact-info__wrapper {
	padding: $block-padding;
	text-align: center;
}

.wp-block-contact-info__wrapper > span {
	display: inline-block;
}

.wp-block-contact-info__wrapper > span a,
.wp-block-contact-info__wrapper > span.contact-info-hours {
	display: inline-block;
	padding: 0 ( $block-padding / 2 );
}

.wp-block-contact-info__wrapper > span:first-child {
	left: 0;
}

.wp-block-contact-info .icon {
	height: 1.5em;
	width: 1.5em;
}

@include break-medium() {

	.wp-block-contact-info .icon {
		height: 1em;
		width: 1em;
	}
}
