.wp-block-embed figcaption {
	margin-top: 0.5em;
	color: $dark-gray-300;
	text-align: center;
	font-size: $default-font-size;
}

.wp-block-embed.is-opengraph {
	border: 1px solid #e5e5e5;
	padding: 25px;
}
